$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #5c6868;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #5c6868;
$color__link-visited: #5c6868;
$color__link-hover: #d73004;
$color__link-cur: #982203;
$color__text-main: #5c6868;
$color__text-sub: #aeb4b4;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$brand__pink: #f17c63;
$brand__red: #F04E23;
