$font__main: "open-sans", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;
$font__size-primary: 0.85rem;
$font__size-secondary: 0.75rem;
$button__size: 1.15rem;