/*!
Theme Name: Summerhill Landscapes
Theme URI: http://underscores.me/
Author: Dyad Communications
Author URI: http://www.dyadcom.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: summerhill-landscapes
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Summerhill Landscapes is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*//*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*//*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*//*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*//*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*//*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*//*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*//*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*//*--------------------------------------------------------------
## Links
--------------------------------------------------------------*//*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*//*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*//* Text meant only for screen readers. *//*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*//*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*//*--------------------------------------------------------------
# Content
--------------------------------------------------------------*//*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*//*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*//*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*//*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*//*--------------------------------------------------------------
# Media
--------------------------------------------------------------*//* Globally hidden elements when Infinite Scroll is supported and in use. *//*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background-color:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:0.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}body,button,input,select,textarea{color:#5c6868;font-family:"open-sans", Helvetica, Arial, sans-serif;font-size:0.75rem;line-height:1.75;font-weight:100;}h1,h2,h3,h4,h5,h6{font-size:1.25rem;display:inline-block;font-weight:100;margin:0;padding:0;line-height:1.45;}h1,h2{font-size:0.95rem;}h3,h4{font-size:0.95rem;display:inline-block;}h4{font-style:italic;}p{font-size:0.85rem;margin-bottom:0.8rem;padding-top:0;margin-top:0;}dfn,cite,em,i{font-style:italic;}blockquote{margin:0;padding:0;font-weight:100;}blockquote p{font-size:1.15rem;margin:0;padding:0;}address{margin:0 0 1.5em;}pre{background:#eee;font-family:"Courier 10 Pitch", Courier, monospace;font-size:15px;font-size:0.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em;}code,kbd,tt,var{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-size:15px;font-size:0.9375rem;}abbr,acronym{border-bottom:1px dotted #666;cursor:help;}mark,ins{background:#fff9c0;text-decoration:none;}big{font-size:125%;}html{box-sizing:border-box;height:100%;overflow:visible;}*,*:before,*:after{box-sizing:inherit;}body{/* Fallback for when there is no custom background color defined. */background:#fff;height:100%;overflow:visible;}body .site-container{height:100%;width:100%;display:block;margin:0 auto;width:100%;}body .site-container .site-content{position:absolute;top:4rem;right:4rem;bottom:4rem;left:4rem;display:block;overflow:hidden;}body .site-container .intro-container{z-index:999;position:absolute;top:0;right:0;bottom:0;left:0;height:auto;width:auto;overflow:hidden;color:white;}body .site-container .intro-container .intro{position:absolute;width:80%;bottom:13rem;right:8rem;}@media (min-width:50em){body .site-container .intro-container .intro{width:30rem;}}body .site-container .intro-container .intro .piece{position:relative;height:2rem;text-align:left;}body .site-container .intro-container .intro .piece.piece--sans{display:inline-block;font-size:1.25rem;text-transform:uppercase;letter-spacing:3px;white-space:nowrap;}@media (min-width:50em){body .site-container .intro-container .intro .piece.piece--sans{font-size:1.5rem;letter-spacing:4px;}}body .site-container .intro-container .intro .piece.piece--sans span{opacity:0;filter:alpha(opacity=0);/*********************
BREAKPOINTS
*********************/color:#61682d;-webkit-transition:opacity 0.75s, color 0.75s;-o-transition:opacity 0.75s, color 0.75s;transition:opacity 0.75s, color 0.75s;}body .site-container .intro-container .intro .piece.piece--sans span.show{opacity:1;filter:alpha(opacity=100);/*********************
BREAKPOINTS
*********************/color:white;}body .site-container .intro-container .intro .piece#piece-first{position:absolute;top:1.25rem;left:17%;}@media (min-width:50em){body .site-container .intro-container .intro .piece#piece-first{left:-44.5%;}}body .site-container .intro-container .intro .piece.piece--ampersand{position:relative;display:block;height:150px !important;width:auto;left:50%;text-align:center;opacity:0;filter:alpha(opacity=0);/*********************
BREAKPOINTS
*********************/-webkit-transition:opacity 2s;-moz-transition:opacity 2s;transition:opacity 2s;}@media (min-width:50em){body .site-container .intro-container .intro .piece.piece--ampersand{left:auto;}}body .site-container .intro-container .intro .piece.piece--ampersand.show{opacity:1;filter:alpha(opacity=100);/*********************
BREAKPOINTS
*********************/}body .site-container .intro-container .intro .piece#piece-third{position:absolute;right:5%;top:3.25rem;}blockquote,q{quotes:"" "";}blockquote:before,q:before,blockquote:after,q:after{content:"";}hr{background-color:#5c6868;border:0;height:1px;margin-bottom:1.5em;}ul,ol{margin:0 0 1.5em 3em;}ul{list-style-type:none;margin-left:0;padding-left:0;}ol{list-style:decimal;}li > ul,li > ol{margin-bottom:0;margin-left:1.5em;}dt{font-weight:bold;}dd{margin:0 1.5em 1.5em;}img{/* Make sure images are scaled correctly. */height:auto;/* Adhere to container width. */max-width:100%;}table{margin:0 0 1.5em;width:100%;}button,input[type="button"],input[type="reset"],input[type="submit"]{padding:0 0.75rem 0.4rem;border:none;border-radius:0;background:transparent;box-shadow:none;color:rgba(0, 0, 0, .8);font-size:12px;font-size:0.75rem;line-height:1;text-shadow:none;text-transform:uppercase;letter-spacing:1px;font-weight:100;}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{color:#d73004;box-shadow:none;outline:0;}button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active,button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus{border-color:#aaa #bbb #bbb;box-shadow:none;outline:0;}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,textarea:focus{color:#111;}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"]{padding:3px;}textarea{padding-left:3px;width:100%;}a{color:#5c6868;-webkit-transition:color 0.5s;-moz-transition:color 0.5s;transition:color 0.5s;text-decoration:none;}a:visited{color:#5c6868;}a:hover,a:focus,a:active{color:#d73004;outline:0;}a:focus{outline:0;}.site-header{display:block;width:100%;overflow:visible;position:absolute;}.site-header .site-branding .site-title{z-index:9999999999;display:inline-block;position:absolute;line-height:0;top:-13rem;left:4rem;-webkit-transition:top 1s, background-color 0.5s;-moz-transition:top 1s, background-color 0.5s;transition:top 1s, background-color 0.5s;}.site-header .site-branding .site-title svg{background-color:#f17c63;width:16.125rem;height:16.125rem;}.site-header .site-branding .site-title svg .st0{-webkit-transition:fill 0.25s;-moz-transition:fill 0.25s;transition:fill 0.25s;}.site-header .site-branding .site-title svg:hover .st0{fill:#da3714;}.touch .site-header .site-branding .site-title svg:hover .st0{fill:#f04e23;}.site-header .site-branding .site-title svg .st1{opacity:0;}.site-header .site-branding .site-title svg .title{display:block;position:relative;-webkit-transform:translateY(65px) translateX(-3px) scale(0.65);-ms-transform:translateY(65px) translateX(-3px) scale(0.65);transform:translateY(65px) translateX(-3px) scale(0.65);-webkit-transition:-webkit-transform  transform  0.5s;-moz-transition:-moz-transform  transform  0.5s;transition:transform 0.5s;}.site-header .site-branding .site-title svg .subtitle{opacity:0;filter:alpha(opacity=0);/*********************
BREAKPOINTS
*********************/-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;transition:opacity 0.5s;}.home .site-header .site-branding .site-title svg{background-color:transparent;}.home .site-header .site-branding .site-title svg .title{-webkit-transform:translateY(0) translateX(0px) scale(1);-ms-transform:translateY(0) translateX(0px) scale(1);transform:translateY(0) translateX(0px) scale(1);}.home .site-header .site-branding .site-title svg .subtitle{opacity:1;filter:alpha(opacity=100);/*********************
BREAKPOINTS
*********************/}.home .site-header .site-branding .site-title{top:4rem;}.home.menuOpen .site-header .site-branding .site-title{background-color:#f17c63;top:-13rem;}.home.menuOpen .site-header .site-branding .site-title .title{-webkit-transform:translateY(65px) translateX(-3px) scale(0.65);-ms-transform:translateY(65px) translateX(-3px) scale(0.65);transform:translateY(65px) translateX(-3px) scale(0.65);}.home.menuOpen .site-header .site-branding .site-title .subtitle{opacity:0;filter:alpha(opacity=0);/*********************
BREAKPOINTS
*********************/}.site-header .main-navigation{z-index:9999;display:block;width:100%;padding-top:3.6rem;padding-bottom:1rem;position:fixed;top:-100%;right:4rem;left:4rem;background:white;font-weight:100;font-size:0.8rem;-webkit-transition:top 1s;-moz-transition:top 1s;transition:top 1s;}.site-header .main-navigation.menuOpen{min-height:19.5rem;top:0;-webkit-transition:top 1s;-moz-transition:top 1s;transition:top 1s;}.site-header .main-navigation .site-title{z-index:999999;display:inline-block;position:absolute;top:0;left:0;}.site-header .main-navigation .site-title svg{width:16.125rem;height:auto;}.site-header .main-navigation ul{font-size:0;list-style:none;margin:0;background:white;}.site-header .main-navigation ul li{font-size:0.75rem;text-transform:uppercase;letter-spacing:1px;width:10rem;}.site-header .main-navigation ul li.menu-item-has-children > a{cursor:default;pointer-events:none;}.site-header .main-navigation ul li.menu-item-has-children > a:hover{color:inherit;}.site-header .main-navigation ul li ul{padding-left:0;left:0;float:none;position:relative;box-shadow:none;}.site-header .main-navigation ul li ul li{text-transform:none;letter-spacing:0;width:auto;}.site-header .main-navigation a{display:block;text-decoration:none;}.site-header .main-navigation .current_page_item > a,.site-header .main-navigation .current-menu-item > a,.site-header .main-navigation .current_page_ancestor > a,.site-header .main-navigation .current-menu-ancestor > a{color:#982203;}.site-header .main-navigation .contact-container{display:inline-block;}.site-header .main-navigation .contact-container .contact-header{font-size:0.75rem;text-transform:uppercase;letter-spacing:1px;}.site-header .main-navigation .contact-container p{margin-top:0;margin-bottom:0;font-size:0.75rem;}.btn{display:inline-block;text-transform:uppercase;letter-spacing:1px;}header .btn{z-index:999999;position:absolute;padding:0 0.75rem 0.4rem;top:4rem;}.btn.btn--menu{left:0;}.btn.btn--menu.clicked{font-size:1.25rem;margin-top:-0.3rem;text-align:center;width:4rem;}.btn.btn--previous{left:0;}.btn.btn--next{right:0;}.social-media{display:block;}.social-media .social-media-item{display:inline-block;width:auto !important;}.social-media .social-media-item svg{width:1.5rem;height:1.5rem;padding:0.15rem;}.social-media .social-media-item svg circle{fill:#c3ccc8;z-index:-1;}.social-media .social-media-item svg:hover circle{fill:#9aa9a2;}.social-media .social-media-item svg polygon{fill:white;}.social-media .social-media-item svg polyline{fill:white;}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;/* Above WP toolbar. */z-index:100000;}.alignleft{display:inline;float:left;margin-right:1.5em;}.alignright{display:inline;float:right;margin-left:1.5em;}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}.clear:before:after,.clear:after:after,.entry-content:before:after,.entry-content:after:after,.comment-content:before:after,.comment-content:after:after,.site-header:before:after,.site-header:after:after,.site-content:before:after,.site-content:after:after,.site-footer:before:after,.site-footer:after:after{content:"";display:table;clear:both;}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both;}.widget{/* Make sure select elements fit in widgets. */margin:0 0 1.5em;/* Search widget. */}.widget select{max-width:100%;}.widget_search .search-submit{display:none;}*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}.sticky{display:block;}.hentry{margin:0 0 1.5em;}.byline,.updated:not(.published){display:none;}.single .byline,.group-blog .byline{display:inline;}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0;}.page-links{clear:both;margin:0 0 1.5em;}.entry{overflow-y:scroll;height:100%;width:100%;}.entry .entry-header{height:14%;max-height:25rem;background-size:cover;background-position:center;}@media screen and (min-height:768px){.entry .entry-header{height:40%;}}.entry .entry-content{padding:0 1.5rem 2rem;width:100%;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}.entry .entry-content .entry-title{text-transform:uppercase;letter-spacing:3px;display:block;margin-bottom:0.25rem;}.entry .entry-content blockquote{display:block;}@media (min-width:50em){.entry .entry-content blockquote{width:40%;max-width:30rem;display:inline-block;}}.entry .entry-content .entry-body{padding-top:0.5rem;}@media (min-width:50em){.entry .entry-content .entry-body{width:58%;max-width:42rem;margin-left:2%;display:inline-block;vertical-align:top;}}.entry .entry-content .entry-body ul li{padding-bottom:0.5rem;}.blog .format-aside .entry-title,.archive .format-aside .entry-title{display:none;}.comment-content a{word-wrap:break-word;}.bypostauthor{display:block;}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none;/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */}.infinity-end.neverending .site-footer{display:block;}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;/* Make sure embeds and iframes fit their containers. */}embed,iframe,object{max-width:100%;/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/}.wp-caption{margin-bottom:1.5em;max-width:100%;}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto;}.wp-caption .wp-caption-text{margin:0.8075em 0;}.wp-caption-text{text-align:center;}.page-information-container{position:absolute;bottom:0;left:4rem;right:4rem;z-index:999;background-color:white;}.page-information-container .page-information{margin:1.25rem 0 1.25rem;position:relative;}.page-information-container .page-information .page-title{text-transform:uppercase;letter-spacing:2px;}.page-information-container .page-information .page-description{width:60%;max-width:50rem;max-height:0;overflow:hidden;line-height:0;opacity:0;filter:alpha(opacity=0);/*********************
BREAKPOINTS
*********************/-webkit-transition:max-height 0.25s, opacity 0.15s, line-height 1s;-moz-transition:max-height 0.25s, opacity 0.15s, line-height 1s;transition:max-height 0.25s, opacity 0.15s, line-height 1s;}.page-information-container .page-information.descOpen .page-description{max-height:20rem;line-height:1.75;opacity:1;filter:alpha(opacity=100);/*********************
BREAKPOINTS
*********************/-webkit-transition:max-height 0.25s, opacity 1s 0.75s, line-height 1s;-moz-transition:max-height 0.25s, opacity 1s 0.75s, line-height 1s;transition:max-height 0.25s, opacity 1s 0.75s, line-height 1s;}.page-information-container .page-information .btn--primary{font-size:1.15rem;}.slideshow{display:block;position:absolute;overflow:hidden;top:0;right:0;bottom:0;left:0;background-color:#dee1db;}.slideshow .slide{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;overflow:hidden;}.slideshow .slide .loading-anim{height:3rem;width:3rem;position:absolute;left:50%;top:50%;-webkit-transform:transform;-moz-transform:transform;-ms-transform:transform;-o-transform:transform;transform:transform;z-index:-1;}.touch .slideshow .slide{position:relative;display:inline-block;height:100vh;}.slideshow .slide .image-holder{height:100%;width:100%;background-size:contain;background-repeat:no-repeat;cursor:pointer;background-color:white;background-position:center center;background-color:#dee1db;opacity:0;filter:alpha(opacity=0);/*********************
BREAKPOINTS
*********************/-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;transition:opacity 0.5s;}.slideshow .slide .image-holder.wide{background-size:cover;}@media all and (max-aspect-ratio:1/1){.slideshow .slide .image-holder.wide{background-size:contain;background-position:top left;}}@media all and (min-aspect-ratio:5/3){.slideshow .slide .image-holder.wide{background-size:contain;background-position:center left;}}.slideshow .slide .image-holder.tall{background-position:left center;}.slideshow .slide .image-holder.isLoaded{opacity:1;filter:alpha(opacity=100);/*********************
BREAKPOINTS
*********************/}.slideshow .slide .image-holder .loader-image{display:none;}.slideshow .swipe-instructional{position:absolute;left:1rem;right:0;bottom:1rem;font-style:italic;z-index:999;color:white;}@media all and (max-aspect-ratio:1/1){.slideshow#home-slideshow .slide .image-holder{background-size:cover;}}@media all and (min-aspect-ratio:5/3){.slideshow#home-slideshow .slide .image-holder{background-size:cover;}}.controller{position:absolute;top:0;right:0;}.controller div{display:inline-block;vertical-align:top;margin:0;}.controller .btn{padding:0;margin:0;vertical-align:middle;}.controller .btn svg{height:1rem;width:1rem;}.controller .btn svg:hover{fill:black;}.touch .controller .btn{display:none;}.controller .integer-container{color:#aeb4b4;font-size:0.75rem;}