.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}
.page-information-container {
	position: absolute;
	bottom: 0;
	left: $size__site-border;
	right: $size__site-border;
	z-index: 999;
	background-color: white;
	
	.page-information {
		// max-width: 60rem;
		margin: 1.25rem 0 1.25rem;
		position: relative;

		.page-title {
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.page-description {
			width: 60%;
			max-width: 50rem;
			max-height: 0;
			overflow: hidden;
			line-height: 0;
			@include opacity(0);
			@include transition(max-height 0.25s, opacity 0.15s, line-height 1s);
		}

		&.descOpen  {
			.page-description {
				max-height: 20rem;
				line-height: 1.75;
				@include opacity(1);
				@include transition(max-height 0.25s, opacity 1s 0.75s, line-height 1s);
			}
			
		}
		.btn--primary {
			font-size: $button__size;
		}
	}
}