.slideshow {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: #DEE1DB;
	
	.slide {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		width: 100%;
		overflow: hidden;

		.loading-anim {
			height: 3rem;
			width: 3rem;
			position: absolute;
			left: 50%; top: 50%;
			@include transform(translate(-50% -50%));
			z-index: -1;
		}

		.touch & {
			position: relative;
	    display: inline-block;
	    height: 100vh;
		}

		.image-holder {
			height: 100%;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			cursor: pointer;
			background-color: white;
			background-position: center center;
			background-color: #DEE1DB;
			@include opacity(0);
			@include transition(opacity 0.5s);
			
			&.wide {
				background-size: cover;
			
				@media all and (max-aspect-ratio: 1/1) {
					background-size: contain;
					background-position: top left;
				}
				@media all and (min-aspect-ratio: 5/3) {
					background-size: contain;
					background-position: center left;
				}
			}
			&.tall {
				background-position: left center;
			}
			&.isLoaded {
				@include opacity(1);
			}
			
			.loader-image {
				display: none;
			}
		}
	}
	.swipe-instructional {
		position: absolute;
		left: 1rem; right: 0;
		bottom: 1rem;
		font-style: italic;
		z-index: 999;
		color: white;
	}

	&#home-slideshow {
		.slide {
			.image-holder {
				@media all and (max-aspect-ratio: 1/1) {
					background-size: cover;
				}
				@media all and (min-aspect-ratio: 5/3) {
					background-size: cover;
				}
			}
		}
	}
}
.controller {
	position: absolute;
	top: 0;
	right: 0;
	
	div {
		display: inline-block;
		vertical-align: top;
		margin:0;
	}

	.btn {
		padding: 0;
		margin: 0;
		vertical-align: middle;
		
		// The Previous and next buttons in galleries
		svg {
			height: $font__size-primary + 0.15rem;
			width: $font__size-primary + 0.15rem;

			&:hover {
				fill: black;
			}
		}
		.touch & {
			display: none;
		}
	}

	.integer-container {
		color: $color__text-sub;
		font-size: $font__size-secondary;
	}
}