p {
	font-size: $font__size-primary;
	margin-bottom: 0.8rem;
	padding-top: 0;
	margin-top: 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding: 0;
	font-weight: 100;
	
	p {
		font-size: 1.15rem;
		margin: 0;
		padding: 0;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}