h1, h2, h3, h4, h5, h6 {
	font-size: 1.25rem;
	display: inline-block;
	font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 1.45;
}
h1, h2 {
	font-size: 0.95rem;
}
h3, h4 {
	font-size: 0.95rem;
	display: inline-block;
}
h4 {
	font-style: italic;
}