body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font__size-secondary;
	line-height: $font__line-height-body;
	font-weight: 100;
}

@import "headings";

@import "copy";