html {
	box-sizing: border-box;
	height: 100%;
	overflow: visible;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	height: 100%;
	overflow: visible;

	.site-container {
		height: 100%; 
		width: 100%;
		display: block;
		margin: 0 auto;
		width: $size__site-main;

		.site-content {
			position: absolute;
			top: $size__site-border; 
			right: $size__site-border; 
			bottom: $size__site-border; 
			left: $size__site-border;
			display: block;
			overflow: hidden;
		}
		// Homepage intro styles
		.intro-container {
			z-index: 999;
			position: absolute;
			top: 0; right: 0; bottom: 0; left:0;
			height: auto; width: auto;
			overflow: hidden;
			color: white;

			.intro {
				position: absolute;
				width: 80%;
				bottom: $size__site-border + 9rem;
				right: $size__site-border + 4rem;

				@include breakpoint(tablet) {
					width:30rem;
				}
				
				.piece {
					position: relative;
					height: 2rem;
					text-align: left;

					&.piece--sans {
						display: inline-block;
						font-size: 1.25rem;
						text-transform: uppercase;
						letter-spacing: 3px;
				    white-space: nowrap;

				    @include breakpoint(tablet) {
							font-size: 1.5rem;
							letter-spacing: 4px;
						}

						span {
							@include opacity(0);
							color: #61682D;

							-webkit-transition: opacity 0.75s, color 0.75s;
							-o-transition: opacity 0.75s, color 0.75s;
							transition: opacity 0.75s, color 0.75s;

							&.show  {
								@include opacity(1);
								color: white;
							}
						}
					}

					&#piece-first {
						position: absolute;
						top: 1.25rem;
						left: 17%;
				    
				    @include breakpoint(tablet) {
							left: -44.5%;
				    }
					}

					&.piece--ampersand {
						position: relative;
						display: block;
						height: 150px!important;
						width: auto;
						left: 50%;
						text-align: center;
						@include opacity(0);
						@include transition(opacity 2s);

						@include breakpoint(tablet) {
							left: auto;
						}

						&.show {
							@include opacity(1);
						}
					}

					&#piece-third {
						position: absolute;
						right: 5%;
						top: 3.25rem;
					}
				}
			}
		}
	}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";