* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry {
	overflow-y: scroll;
	height: 100%;
	width: 100%;

	.entry-header {
		height: 14%;
		max-height: 25rem;
		background-size: cover;
		background-position: center;
		
		@media screen and (min-height:768px) {
			height: 40%;
		}

	}
	.entry-content {
		padding: 0 1.5rem 2rem;
		width: 100%;
		color: white;
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
		
		.entry-title {
			// font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 3px;
			display: block;
			margin-bottom: 0.25rem;
		}
		blockquote {
			display: block;

			@include breakpoint(tablet) {
				width: 40%;
				max-width: 30rem;
				display: inline-block;
			}
		}
		.entry-body {
			padding-top: 0.5rem;

			@include breakpoint(tablet) {
				width: 58%;
				max-width: 42rem;
				margin-left: 2%;
				display: inline-block;
				vertical-align: top;
			}
			
			ul {
				li {
					padding-bottom: 0.5rem;
				}
			}
		}
	}
}