button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0 0.75rem .4rem;
	border: none;
	border-radius: 0;
	background: $color__background-button;
	box-shadow: none;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;

	&:hover {
		color: $color__link-hover;
		box-shadow: none;
		outline: 0;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: none;
		outline: 0;
	}
}