a {
	color: $color__link;
	@include transition(color 0.5s);
	text-decoration: none; 

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		outline: 0; 
	}
	&:focus {
		outline: 0; 
	}
}