.site-header {
	display: block;
	width: 100%;
	overflow: visible;
	position: absolute;
	
	.site-branding {
		.site-title {
			z-index: 9999999999;
			display: inline-block;
			position: absolute;
			line-height: 0;
			top: -13rem;
			left: $size__site-border;
			@include transition(top 1s, background-color 0.5s);

			svg {
				background-color: $brand__pink;
				
				width: 16.125rem;
				height: 16.125rem;
				
				.st0 {
					@include transition(fill 0.25s);
				}
				&:hover {
					.st0 {
						fill: darken( $brand__pink, 20% );
					}
				}
				.touch & {
					&:hover {
						.st0 {
							fill: $brand__red;
						}
					}
				}

				.st1 {
					opacity: 0;
				}
				.title {
					display: block;
					position: relative;
					-webkit-transform: translateY(65px) translateX(-3px) scale(0.65);
					-ms-transform: translateY(65px) translateX(-3px) scale(0.65);
					transform: translateY(65px) translateX(-3px) scale(0.65);
					@include transition(transform 0.5s);
				}
				.subtitle {
					@include opacity(0);
					@include transition(opacity 0.5s);
				}
				.home & {
					background-color: transparent;
					
					.title {
						-webkit-transform: translateY(0) translateX(0px) scale(1);
						-ms-transform: translateY(0) translateX(0px) scale(1);
						transform: translateY(0) translateX(0px) scale(1);
					}
					.subtitle {
						@include opacity(1);
					}
				}
			}
			.home & {
				top: $size__site-border;
			}
			.home.menuOpen & {
				background-color: $brand__pink;
				top: -13rem;

				.title {
					-webkit-transform: translateY(65px) translateX(-3px) scale(0.65);
					-ms-transform: translateY(65px) translateX(-3px) scale(0.65);
					transform: translateY(65px) translateX(-3px) scale(0.65);
				}
				.subtitle {
					@include opacity(0);
				}
			}
		}
	}
	
	.main-navigation {
		z-index: 9999;
		display: block;
		width: 100%;
		padding-top: $size__site-border - 0.4rem;
		padding-bottom: 1rem;
		position: fixed;
		top: -100%; 
		right: $size__site-border; 
		left: $size__site-border;
		background: white;
		font-weight: 100;
		font-size: 0.8rem;
		@include transition(top 1s);
		
		&.menuOpen {
			min-height: 19.5rem;
			top: 0;
			@include transition(top 1s);
		}
		.site-title {
			z-index: 999999;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;

			svg {
				width: 16.125rem;
				height: auto;
			}
		}
		// Primary Menu
		ul {
			font-size: 0;
			list-style: none;
			margin: 0;
			background: white;

			li {
				font-size: $font__size-secondary;
				text-transform: uppercase;
				letter-spacing: 1px;
				width: 10rem;

				&.menu-item-has-children > a {
					cursor: default;
					pointer-events: none;

					&:hover {
						color: inherit;
					}
				}
				
				// Child Menu
				ul {
					padding-left: 0;
					left: 0;
					float: none;
					position: relative;
			    box-shadow: none;

					li {
						text-transform: none;
						letter-spacing: 0;
						width: auto;
					}
				}
			}
		}
		a {
			display: block;
			text-decoration: none;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__link-cur;
		}
		// Contact information in the header
		.contact-container {
			display: inline-block;

			.contact-header {
				font-size: $font__size-secondary;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			p {
				margin-top: 0;
				margin-bottom: 0;
				font-size: $font__size-secondary;
			}
		}
	}
}
.btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;

	header & {
		z-index: 999999;
		position: absolute;
		padding: 0 0.75rem .4rem;
		top: $size__site-border;
	}

	&.btn--menu {
		left: 0;

		&.clicked {
			font-size: 1.25rem;
	    margin-top: -0.3rem;
	    text-align:center;
	    width: $size__site-border;
		}
	}

	&.btn--previous {
		left: 0;
	}

	&.btn--next {
		right: 0;
	}
}
.social-media {
	display: block;

	.social-media-item {
		display: inline-block;
		width: auto!important;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			padding: 0.15rem;
			
			circle {
				fill: #c3ccc8;
				z-index: -1;
			}
			&:hover {
				circle {
					fill: darken(#c3ccc8, 15%);
				}
			}
			polygon {
				fill: white;
			}
			polyline {
				fill: white;
			}
		}
		
	}
}